<section class="section academics-cert">
  <div class="section__title">Honors</div>
  <div class="section__content">

    <div class="honors school">
      <figure class="honors__pic certs">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="cert">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="cert">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="honors__caption">
        <div class="honors__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">ScreenTime 2.0</a>
        </div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
          create custom rules for blocking apps like Facebook and Twitter right from their certs.</p>
      </figcaption>
    </div>

    <div class="school_honors">
      <figure class="honors__pic certs">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="cert">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="cert">
            <img src="{{site.baseurl}}/img/honors/more/LibraryBestVisitor.pdf" alt="">
          </div>
          <div class="cert">
            <img src="{{site.baseurl}}/img/honors/more/VolunteerLibrary.pdf" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="honors__caption">
        <div class="honors__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">ScreenTime 2.0</a>
        </div>
        <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
          create custom rules for blocking apps like Facebook and Twitter right from their certs.</p>
      </figcaption>
    </div>

  </div>
</section>
