<!-- <section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Engineer at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.
    </p>

    <p>
      As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p>

  </div>
</section> -->

<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a senior student at
      <strong>Omar Bin Al-Khattab highschool</strong> finishing off a journey of 12 years with some awesome people. 
    </p>
    <p>
      In the mix of 
      <strong>Computer Science</strong> and <strong>Filmmaking</strong>, I love soaking up knowledge and often land top grades. 
    </p>
    <p>
      I'm not just about coding; I dig into filmmaking, storytelling, and critiquing. I'm friendly but also a bit picky when it comes to my work. Team projects light me up, making tough stuff way easier. Whether coding or storytelling, I'm always curious, asking why and how. 
    </p>
    <p>
      Learning isn't just a skill; it's a habit, even in video games.    
    </p>
    <p>
      My big aim? Turn what I learn into a positive contribution for a better world.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen, I'm writing, directing, and filming my ideas.</strong>
    </p>

    <!-- <a href="{{site.resume}}" target="_blank" class="arrow-link">View My Resume</a> -->

  </div>
</section>
