<section class="section featured-projects">
  <div class="section__title">Filmmaking</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/personality.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">Personality</a>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/personality.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">Filmmaking Course</a>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/personality.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">Ajyal Juror</a>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/personality.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">Personality</a>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman</p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="{{site.baseurl}}/img/filmmaking/5.png" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/filmmaking/4.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/filmmaking/5.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Where The Worlds Meet</strong>
        </div>
        <p>Where The Worlds Meet is an award-winning short story about the World Cup 2022.</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/personality.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">Critical Reading</a>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman</p>
      </figcaption>
    </div>

  </div>
</section>
