<section class="section featured-projects">
  <div class="section__title">Filmmaking</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/personality.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Personality</strong>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman.
          <br>
          <h3 class="intro__contact">
              <span class="emoji pointer"></span>
              <span>
                <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank" class="highlight-link">Project</a>
              </span>
            </h3></p>
      </figcaption>
    </div>


    <div class="project screentime">
        <figure class="project__pic phones">
          <a href="{{site.baseurl}}/img/filmmaking/1.png" target="_blank">
            <div class="phone">
                <iframe  width="448" height="252" src="https://www.youtube.com/embed/hY7nTo564k0?si=cTQN8SUfuqvGjF27" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="phone">
                  <img width="300" src="{{site.baseurl}}/img/filmmaking/1.png" alt="">
                </div>
          </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Filmmaking Course</strong>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman</p>
      </figcaption>
    </div>

    <div class="project screentime">
        <figure class="project__pic phones">
          <a href="{{site.baseurl}}/img/filmmaking/2.png" target="_blank">
            <div class="phone">
                <iframe width="448" height="252" src="https://www.youtube.com/embed/ZXjyynoURW4?si=qZBz82CxQfM4e2kD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
              <div class="phone">
                  <img width="300" src="{{site.baseurl}}/img/filmmaking/2.png" alt="">
                </div>
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <strong>Ajyal 2.0</strong>
          </div>
          <p>Where The Worlds Meet is an award-winning short story about the World Cup 2022.
            <br>
              <h3 class="intro__contact">
                  <span class="emoji pointer"></span>
                  <span>
                    <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank" class="highlight-link">Story</a>
                  </span>
                </h3>
          </p>
        </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="{{site.baseurl}}/img/filmmaking/4.png" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/filmmaking/3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/filmmaking/4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Where The Worlds Meet</strong>
        </div>
        <p>Where The Worlds Meet is an award-winning short story about the World Cup 2022.
          <br>
            <h3 class="intro__contact">
                <span class="emoji pointer"></span>
                <span>
                  <a href="https://youtu.be/hY7nTo564k0?feature=shared" target="_blank" class="highlight-link">Story</a>
                </span>
              </h3>
        </p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/filmmaking/5.png" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/5.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Theatre Actor</strong>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman</p>
      </figcaption>
    </div>

    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="{{site.baseurl}}/img/filmmaking/6.png" target="_blank">
          <img src="{{site.baseurl}}/img/filmmaking/6.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <strong>Critical Reading</strong>
        </div>
        <p>Personality is my first ever movie which secured a first place winning film among five competing films.
          <br> Personality is a psychological/horror short film.
          I was the director, writer, editor and cameraman</p>
      </figcaption>
    </div>

  </div>
</section>
