<section class="section featured-projects">
  <div class="section__title">Honors</div>
  <div class="section__content">

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
          <div class="phone">
              <img src="{{site.baseurl}}/img/honors/honors/Grade10.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/honors/honors/Grade11.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">Honors Certificates</a>
        </div>
        <p>1- Certificate of Excellency for achieving <strong>97.12% in Grade 10</strong>, 2- and on the right
          is a Certificate of Excellency for achieving <strong>99.44% in Grade 11</strong>.
        </p>
      </figcaption>
    </div>

    <div class="project screentime">
        <figure class="project__pic phones">
          <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">
            <div class="phone">
              <img src="{{site.baseurl}}/img/honors/more/1.png" alt="">
            </div>
            <div class="phone">
              <img src="{{site.baseurl}}/img/honors/more/2.png" alt="">
            </div>
            <div class="phone">
              <img src="{{site.baseurl}}/img/honors/more/3.png" alt="">
            </div>
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://play.google.com/store/apps/details?id=com.starry.management" target="_blank">Extracurricular Certificates</a>
          </div>
          <p>Starry Station feature that provided users with the ability to easily filter content, pause the internet, and even
            create custom rules for blocking apps like Facebook and Twitter right from their phones.</p>
        </figcaption>
      </div>
  </div>
</section>
